# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Secret key
*.secret_key

# Static files
/static/

# Media files
/media/

# Database
db.sqlite3

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log
logs/

# Mac OS
.DS_Store
